.firstpage {
  background-image: url(./images/backgrounds.png);
  width: 375px;
  height: auto;
}

.intropage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.intro {
  position: static;
  width: 327px;
  height: 192px;
  left: 24px;
  top: 64px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 30px 0 0 0;
}

.intro > span {
  color: #36b37f;
}

.LOGO {
  text-decoration: none;
  color: #172b4d;
}

.intro-exp {
  width: 327px;
  height: 164px;
  left: 24px;
  top: 314px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 58px 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header > h2 {
  width: 90px;
  height: 28px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #28352f;
  margin: 25px 215px 0 0;
}
