* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.mobile-popup-container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 16px;
}

.popup-image img {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.title-and-techs {
}

.popup-title {
  /* display: block; */
  /* margin-right: 50px; */
  width: 259px;
  height: 135px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 12px;
}

.popup-tech {
  list-style-type: none;
  /* display: flex; */
  margin-bottom: 24px;
}

.popup-tech li {
  text-align: center;
  display: inline;
  background: #ebf0ee;
  border-radius: 4px;
  width: auto;
  height: auto;
  padding: 8px 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.popup-description {
  width: auto;
  height: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
  
}

.popup-buttons {
  display: flex;
  justify-content: center;
}

.ml {
  margin-left: 12px;
}

.live-button {
  display: flex;
  width: 200px;
  background: #36b37f;
  border-radius: 4px;
  height: 100px;

  background-size: 141px 48px;

  width: auto;
  height: auto;
  padding: 12px;
  
}

.live-button p {
  margin-right: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  letter-spacing: 0.03em;
  color: #fff;
}
