* {
  font-family: 'Inter', sans-serif;
}

.grid {
  display: grid;
  justify-content: center;
  grid-gap: 30px;
  margin-top: 0;
  background: #fff;
  width: 375px;
  align-items: center;
}

.firstpage {
  background-image: url(./images/backgrounds.png);
  width: 375px;
  height: auto;
}

.intropage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.intro {
  position: static;
  width: 327px;
  height: 192px;
  left: 24px;
  top: 64px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 30px 0 0 0;
}

.intro > span {
  color: #36b37f;
}

.intro-exp {
  width: 327px;
  height: 164px;
  left: 24px;
  top: 314px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 58px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > h2 {
  width: 90px;
  height: 28px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #28352f;
}

.main-section {
  display: flex;
  flex-direction: column;
}

.recent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.recent > h2 {
  text-align: center;
  height: 97px;
  width: 327px;
  border-radius: 0;
  position: static;
  left: 0;
  top: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.stories-1 {
  height: 474px;
  width: 327px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  align-self: center;
  flex-direction: column;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  margin-top: 62px;
}

.white-back {
  height: 222px;
  width: 327px;
  border-radius: 8px;
  background: #fff;
}

.stories-1 > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 295px;
  height: 57px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #3a4a42;
  margin: 20px auto 20px auto;
}

.list-flex {
  
}

.list {
  padding: 6px;
  height: 40px;
  margin: 0;
  width: 305px;
  list-style-type: none;
}

.list > li {
  padding: 12px;
  
}

.ruby {
  width: 79px;
  height: 16px;
  left: 12px;
  top: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  background-color: #ebf0ee;
  background-size: 150px 32px;
  border-radius: 4px;
  float: left;
  margin-right: 5px;
  margin-left: 3px;
}

.css {
  width: 21px;
  height: 16px;
  left: 12px;
  top: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  background-color: #ebf0ee;
  background-size: auto;
  border-radius: 4px;
  float: right;
}

.java {
  width: 58px;
  height: 16px;
  left: 12px;
  top: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  background-color: #ebf0ee;
  background-size: auto;
  border-radius: 4px;
  float: right;
  margin-right: 7px;
}

.html {
  background-color: #ebf0ee;
  background-size: auto;
  border-radius: 4px;
  width: 27px;
  height: 16px;
  left: 12px;
  top: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  float: right;
  margin-right: 7px;
}

.see-project {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #fff;
  margin: 0;
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
  background-size: auto;
}

.div-h2 {
  /* display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center; */
  margin: 15px;
  clear: both;
}

.aboutme {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.myself {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin: 24px 0 0 0;
  width: 351px;
}

.exp {
  width: 351px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  height: 189px;
  color: #42526e;
  line-height: 32px;
  text-align: center;
  margin: 24px 0 0 10px;
}

.button-resume {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  margin: 24px 0 0 0;
  background: #36b37f;
  border-radius: 4px;
  width: 159px;
  align-items: center;
  align-self: center;
}

.languages {
  height: 352px;
  width: 327px;
  background: #ebf0ee;
  border-radius: 8px;
  border: 1px solid #c1c7d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-left: 22px;
}

.icon {
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 20px;
  margin-bottom: 64px;
  margin-top: 44px;
}

.lang-heading {
  width: 337px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 50px;
  text-align: center;
  color: #344563;
}

.lang-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  flex: none;
  color: #36b37e;
}

.lang-java {
  width: 65px;
  height: 16px;
  padding: 12px;
  background: #fff;
  margin: 0 8px 0 28px;
  letter-spacing: 0.03em;
  border-radius: 8px;
}

.lang-ruby {
  width: 31px;
  height: 16px;
  padding: 12px;
  border-radius: 8px;
  background: #fff;
  margin: 0 8px 0 8px;
  letter-spacing: 0.03em;
}

.lang-html {
  border-radius: 8px;
  letter-spacing: 0.03em;
  width: 29px;
  margin: 0 8px 0 8px;
  height: 16px;
  padding: 12px;
  background: #fff;
}

.lang-css {
  border-radius: 8px;
  width: 26px;
  letter-spacing: 0.03em;
  margin: 0 28px 0 8px;
  height: 16px;
  padding: 12px;
  background: #fff;
}

.lang-boot {
  border-radius: 8px;
  width: 60px;
  letter-spacing: 0.03em;
  margin: 0 8px 0 8px;
  height: 16px;
  padding: 12px;
  background: #fff;
}

.lang-rails {
  border-radius: 8px;
  letter-spacing: 0.03em;
  width: 79px;
  margin: 0 8px 0 8px;
  height: 16px;
  padding: 12px;
  background: #fff;
}

.lang-rpsec {
  letter-spacing: 0.03em;
  width: 39px;
  border-radius: 8px;
  margin: 0 8px 0 8px;
  height: 16px;
  padding: 12px;
  background: #fff;
}

.lang-capybara {
  letter-spacing: 0.03em;
  width: 59px;
  border-radius: 8px;
  margin: 0 8px 0 8px;
  height: 16px;
  padding: 12px;
  background: #fff;
}

.lang-selenium {
  letter-spacing: 0.03em;
  width: 57px;
  border-radius: 8px;
  margin: 0 8px 0 8px;
  height: 16px;
  padding: 12px;
  background: #fff;
}

.lang-codekit {
  letter-spacing: 0.03em;
  width: 48px;
  border-radius: 8px;
  margin: 0 8px 0 8px;
  height: 16px;
  padding: 12px;
  background: #fff;
}

.lang-github {
  letter-spacing: 0.03em;
  width: 43px;
  border-radius: 8px;
  margin: 0 8px 0 8px;
  height: 16px;
  padding: 12px;
  background: #fff;
}

.lang-codepen {
  letter-spacing: 0.03em;
  width: 55px;
  border-radius: 8px;
  margin: 0 4px 0 4px;
  height: 16px;
  padding: 12px;
  background: #fff;
}

.lang-gitlab {
  letter-spacing: 0.03em;
  width: 37px;
  border-radius: 8px;
  margin: 0 8px 0 8px;
  height: 16px;
  padding: 12px;
  background: #fff;
}

.lang-terminal {
  letter-spacing: 0.03em;
  width: 53px;
  border-radius: 8px;
  margin: 0 8px 0 8px;
  height: 16px;
  padding: 12px;
  background: #fff;
}

.conclusion-text {
  width: 327px;
  height: 363px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 0 0;
}
